.container_main {
    display: flex;
  margin-left: 40px;

}

.container_inside {
    padding: 40px;
    width: 70%;

}

.transaction {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.5fr 0.3fr 0.1fr;
    align-items: center;
    font-size: 1.3em;
    gap: 10px;
    margin: 20px 0px;
    position: relative;
  }
  
  .transactions {
    padding: 40px 0px;
  }
  
  .transaction p {
    font-weight: 400;
  }



.transaction_content {
    display: flex;
    flex-direction: column;
}
.transaction_content > span {
    font-size: 0.5em;
    margin: 2px 0px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: rgb(130, 130, 130);
    text-transform: uppercase;
}

.options p {
  padding: 10px;
  border-bottom: 1px solid rgb(208, 208, 208);
}
.options {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
  position: absolute;
  top: -220%;
  font-size: 16px;
  left: 93%;
  background-color: #fff;
}
.options p:hover {
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}

.edit {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.2s;
  border-radius: 100%;

}
.edit:hover, .edit:focus {
  background-color: rgb(219, 216, 216);
  border-radius: 100%;

  border: 2px solid rgb(201, 199, 199);
}
.selected {
  background-color: rgb(184, 183, 183);
  border-radius: 100%;

}